.textContent {
    font-size: 16px;
    line-height: 24px;
    margin-top: 13px;
    margin-bottom: 50px;
}

.vacancies {
    position: relative;
    height: calc(14px + 14px + 150px);
    margin: 20px 0 30px;
}

.vacancies::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-red);
  transform: rotate(45deg);
  background-color: transparent;
  position: absolute;
  left: calc(50% - 14px / 2 + 1px);
  top: 2px;
}

.vacancies::after {
  content: "";
  display: block;
  width: 2px;
  height: 150px;
  background-color: var(--color-red);
  position: absolute;
  left: 50%;
  bottom: 0%;
}

.title {
    max-width: 520px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .textContent {
        margin-bottom: 30px;
    }

    .vacancies {
        position: relative;
        height: calc(14px + 14px + 127px);
        margin-bottom: 30px;
    }

    .vacancies::after {
        height: 127px;
    }
}
