.aboutLocationArticleContainer {
  margin-top: 136px;
  margin-bottom: 100px;
}

.aboutLocationArticleLefttSide {
  padding-right: 170px;
}

.aboutLocationArticleDescription {
  margin: 20px 0 40px;
}

.aboutLocationTeams {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.aboutLocationTeamName {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  flex: 0 0 50%;
}

.aboutLocationImageContainer {
  background-image: url("/aboutLocation.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 695px;
  height: 561px;
  position: relative;
}

.imageIndicator {
  position: absolute;
  width: 212px;
  height: 25px;
  left: calc(100% - 106px);
  top: calc(25% - 25px);
  background: linear-gradient(
    to left,
    #D0103A 0%,
    #D0103A 50%,
    #F6F6F6 50%,
    #F6F6F6 100%
  );
}

/* medium screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .aboutLocationArticleContainer {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .aboutLocationContentContainer {
    flex-direction: column;
  }

  .aboutLocationArticleLefttSide {
    padding-right: 0;
  }
  
  .aboutLocationTeams {
    margin-bottom: 40px;
  }

  .aboutLocationImageContainer {
    flex-direction: column;
    width: 826px;
    height: 400px;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .aboutLocationArticleContainer {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .aboutLocationArticleLefttSide {
    padding-right: 0;
  }
  
  .aboutLocationContentContainer {
    flex-direction: column;
  }

  .aboutLocationImageContainer {
    width: 720px;
    height: 400px;
  }

  .imageIndicator {
    width: 46px;
    height: 15px;
    left: calc(100% - 23px);
  }

  .aboutLocationTeams {
    margin-bottom: 40px;
  }
}



/* mobile */
@media screen and (max-width: 414px) {
  .aboutLocationArticleContainer {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .aboutLocationArticleLefttSide {
    padding-right: 0;
  }

  .aboutLocationImageContainer {
    height: 295px;
    width: 367px;
  }

  .imageIndicator {
    width: 46px;
    height: 15px;
    left: calc(100% - 23px);
  }

  .aboutLocationTeams {
    width: calc(414px - 48px);
    margin-bottom: 40px;
  }

  .aboutLocationTeamName {
    margin-bottom: 30px;
  }
  .aboutLocationArticleDescription {
    margin: 30px 0 40px;
  }
}