.vacanciesArticleContainer {
  background-color: #F6F6F6; /* TODO */
}

.vacanciesContentContainer {
  padding: 160px 170px 145px 140px;
}

.vacanciesArticleLeftSide {
  flex-basis: 40%;
  max-width: 400px;
}

.vacanciesArticleRightSide {
  flex-basis: 60%;
}

.vacanciesDescription {
  margin: 20px 0 40px;
}

.vacanciesRedirection {
  display: inline-flex;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.vacanciesRedirectionIcon {
  background-image: url("/svg/arrowRight.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

/* medium screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .vacanciesArticleContainer {
    margin: 0;
  }

  .vacanciesContentContainer {
    padding: 100px 50px 130px;
    flex-direction: column;
  }

  .vacanciesArticleLeftSide {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .vacanciesArticleRightSide {
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .vacanciesArticleContainer {
    margin: 0;
  }

  .vacanciesContentContainer {
    padding: 100px 24px 130px;
    flex-direction: column;
  }
  
  .vacanciesArticleLeftSide {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .vacanciesArticleRightSide {
    width: 100%;
  }
}

/* mobile */
@media screen and (max-width: 414px) {
  .vacanciesArticleContainer {
    margin: 0;
  }

  .vacanciesContentContainer {
    padding: 80px 24px 100px;
  }

  .vacanciesDescription {
    margin: 20px 0 30px;
  }

  .vacanciesArticleLeftSide {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .vacanciesArticleRightSide {
    width: 100%;
  }
}

