.locationsBigHeaderContainer {
  position: relative;
}

.locationsBigCounter {
  position: absolute;
  bottom: -82px;
}

.locationsBigPageImageContainer {
  background: url("/locationsBigHeader.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 809px;
  height: 639px;
}

.locationsBgLeftSideSpacing {
  height: 639px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
}



/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .locationsBigPageImageContainer {
    height: 500px;
    width: 722px;
  }

  
  .locationsBgLeftSideSpacing {
    padding-top: 0;
    padding-bottom: 42px;
  }
}

/* larger mobile */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .locationsBigPageImageContainer {
    height: 500px;
    width: 722px;
  }


  .locationsBgLeftSideSpacing {
    padding-top: 0;
    padding-bottom: 42px;
  }

  .locationsBigCounter {
    bottom: -100px;
  }
}

/* small mobile */
@media screen and (max-width: 414px) {
  .locationsBigPageImageContainer {
    height: 326px;
    width: 370px;
  }

  .locationsBgLeftSideSpacing {
    padding-top: 0;
    padding-bottom: 42px;
  }

  .locationsBigCounter {
    position: relative;
    bottom: 0;
    max-width: 100%;
  }
}