  .locationSliderArticleContainer {
    margin-top: 200px;
    margin-bottom: 160px;
    overflow: hidden;
  }

  .locationSliderContentContainer {
    margin-top: 52px;
    padding: 96px 140px 97px;
    background-color: #EAF8F4; /* TODO */
    position: relative;
  }
  
  .globeBackgroundImage {
    background-image: url("/svg/smallBackgroundGlobe.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 375px;
    height: 375px;
    right: -93px;
    bottom: -90px;
    z-index: 0;
  }

  .locationSliderDecreaseRightSpacing {
    margin-right: 45px;
  }
  
  .locationSliderLeftSide {
    max-width: 527px;
  }

  .locationSliderDescription {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    height: 120px;
  }
  
  .locationSliderActions {
    display: inline-flex;
    justify-content: flex-start;
  }
  
  .locationSliderImageContainer {
    background-image: url("/peoplePlacePlanet.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 662px;
    height: 561px;
    position: absolute;
    bottom: 100px;
    right: 140px;
    z-index: 2;
  }

  /* medium screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .locationSliderArticleContainer {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .locationSliderContentContainer {
    margin-top: 40px;
    padding: 0;
    background-color: #fff; /* TODO */
    position: relative;
    flex-direction: column-reverse;
  }

  .globeBackgroundImage {
    display: none;
  }

  .locationSliderLeftSide {
    max-width: 100%;
    margin-bottom: 50px;
    background-color: #EAF8F4; /* TODO */
    padding: 60px;
  }

  .locationSliderDescription {
    max-width: 400px;
    height: auto;
  }

  .locationSliderRightSide {
    padding: 0 60px;
    position: relative;
  }

  .locationSliderImageContainer {
    position: absolute;
    bottom: 0;
    top: -150px;
    right: 20px;
    width: 400px;
    height: 350px;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .locationSliderArticleContainer {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .locationSliderContentContainer {
    flex-direction: column;
    padding: 50px;

  }

  .locationSliderLeftSide {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .locationSliderImageContainer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 620px;
    height: 450px;
  }

  .globeBackgroundImage {
    display: none;
  }
}

/* mobile + tablet */
@media screen and (max-width: 414px) {
  .locationSliderArticleContainer {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .locationSliderContentContainer {
    margin-top: 0;
    padding: 0;
    background-color: #fff; /* TODO */
    position: relative;
  }

  .globeBackgroundImage {
    display: none;
  }

  .locationSliderImageContainer {
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 370px;
    height: 302px;
  }

  .locationSliderLeftSide {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .locationSliderDescription {
    height: auto;
  }
  

  .locationSliderControlButtons {
    background-color: #F1F1F1; /* TODO */
  }
}