.whereAreWeArticleContainer {
  margin-top: 210px;
}

.whereAreWeArticleRightSide {
  padding-left: 155px;
  padding-right: 136px;
}

.whereAreWeArticleDescription {
  margin: 20px 0 40px;
}

.whereAreWeRedirection {
  display: inline-flex;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.whereAreWeRedirectionIcon {
  background-image: url("/svg/arrowRight.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.whereAreWeImageContainer {
  /* TODO Msz move the following line and extend it (previous value - svg/locationsBig.svg) */
  background-image: url("/svg/locationsSmallMap.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 944px;
  height: 500px;
}

/* medium screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .whereAreWeArticleContainer {
    margin-top: 100px;
  }

  .whereAreWeArticleRightSide {
    padding: 0 0 62px;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .whereAreWeArticleContainer {
    margin-top: 100px;
  }

  .whereAreWeArticleRightSide {
    padding: 0 0 62px;
  }

  .whereAreWeImageContainer {
    width: 720px;
    height: 400px;
  }
}

/* mobile */
@media screen and (max-width: 414px) {
  .whereAreWeArticleContainer {
    margin-top: 0;
  }

  .whereAreWeArticleRightSide {
    padding: 0 0 62px;
  }

  .whereAreWeImageContainer {
    width: 370px;
    height: 277px;
  }

  .whereAreWeArticleDescription {
    margin: 30px 0 40px;
  }
}
