.homePageLeftSideSpacing {
  margin-top: 40px;
}

.homePageBackgroundImageContainer {
  background-image: url("/svg/homeBackground.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 802px;
}

.homePageMainImageWrapper {
  position: relative;
  margin: 0 140px;
}

.homePageMainImageContainer {
  background-image: url("/svg/homeMain.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 5%;
  height: 599px;
  width: 100%;
}

.whoAreWeContainer {
  padding-right: 136px;
}

.whoAreWeImageContainer {
  background-image: url("/home_people.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 691px;
  height: 635px;
  margin: 0 106px;
  position: relative;
}

.imageIndicator {
  position: absolute;
  width: 212px;
  height: 25px;
  right: calc(100% - 106px);
  bottom: calc(25% - 25px);
  background: linear-gradient(
    to left,
    #EAF8F4 0%,
    #EAF8F4 50%,
    #025051 50%,
    #025051 100%
  );
}
.whoAreWeArticleDescription,
.whyKnightFrankDescription {
  margin-top: 40px;
}

.whoAreWeRightSide {
  margin-left: 80px;
}

/* TODO check if below styles are used on page*/
.locationsContainer {
  background-color: var(--color-light-green);
}

.locationsContainerBackground {
  background: url("/svg/globe.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-primary:hover {
 background: var(--color-btn-primary) !important;
 color: #fff !important; /* TODO */
}

.whyKnightFrankArticleContainer {
  padding: 0 136px 0 20px;
  margin-bottom: 100px;
  /* padding-right: 136px; */
  /* padding-left: 20px */
}

.whyKnightFrankRightSide {
  margin-left: 180px;
}

.videoPlay {
  height: 192px;
  width: 773px;
  background: #f0efed; /* TODO */
  padding: 20px 20px 30px;
  position: absolute;
  bottom: -142px;
  right: -62px;
  align-items: flex-end;
}

.videoImg {
  width: 781px;
  height: 418px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .homePageActionButton {
    display: none;
  }
  .homePageBackgroundImageContainer {
    height: 421px;
    width: 345px;
  } 

  .homePageMainImageWrapper {
    margin: 0 auto;
  }

  .homePageMainImageContainer {
    height: 325px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    left: 0;
  }

  .whoAreWeContainer,
  .whyKnightFrankArticleContainer {
    padding: 0;
  }

  .whoAreWeRightSide {
    max-width: 100%;
    padding: 0 24px 60px;
    margin-left: 0;
  }

  .whoAreWeImageContainer {
    width: 340px;
    height: 295px;
    margin: 0 25px;
  }

  .imageIndicator {
    width: 50px;
    height: 13px;
    right: calc(100% - 25px);
    bottom: calc(25% - 13px);
  }

  .locationsContainerBackground {
    height: 110vw;
  }

  .whyKnightFrankArticleContainer {
   margin-bottom: 0; 
  }

  .whyKnightFrankRightSide {
    display: none;
  }

  .videoImg {
    height: 214px;
    width: 340px;
    margin: 0 auto;
  }

  .videoPlay {
    width: 100%;
    height: 217px;
    left: 0;
    right: 0;
    bottom: -107px;
    padding: 20px 24px 35px;
  }
}

@media screen and (max-width: 320px) {
  .locationsContainerBackground {
    min-height: 230vw;
    height: 230vw;
  }
}

.btn-primary:hover {
 background: var(--color-btn-primary) !important;
 color: #fff !important;
}

/* TODO: REMOVE BELOW */

.videoBlock {
  position: relative;
  margin-bottom: 80px;
}




button.btn-primary:hover {
  background: green !important;
}

.videoTitle {
  font-size: 14px;
  margin-left: 14px;
  position: relative;
  /* top: 8px; */
}
