.locationGlob__container {
    margin: 60px 0;
    padding-top: 80px;
    background-color: #EAF8F4; /*TODO*/
    height: 950px;
    width: 100%;
    position: relative;
}
.locationGlob__globContainer {
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
.locationGlob__contentContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #ffffff; /*TODO*/
    padding: 60px 24px; /*TODO*/
    margin-right: 50px;
}

.locationGlob__title {
    font-weight: 900;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1A1A1A;
    padding: 0;
    margin: 40px 0 0;
}

.locationGlob__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1A1A1A;
    padding: 0;
    margin: 20px 0 0;
}

.locationGlob__buttonContainer {
    margin-top: 30px;
}

@media screen and (min-width: 1200px) {
    .locationGlob__globContainer {
        max-width: 1000px;
        width: 60%;
    }

    .locationGlob__container {
        width: 90%;
        margin: 165px auto;
        padding: 140px 0;
        display: flex;
        align-items: center;
    }

    .locationGlob__contentContainer {
        max-width: 666px;
        padding: 140px;
    }
}
