.container {
  min-height: 165px;
  margin: 0;
}

.red {
  background: var(--color-red);
}

.dark-green {
  background: #025051; /* TODO */
}

.large {
  max-width: 85%;
  width: 85%;
  padding: 41px 8% 44px 16%;
}

.medium {
  width: 1223px;
  padding: 42px 140px
}

.item {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 136px;
}

.item:not(:last-child) {
  margin-left: 20px;
  margin-right: 20px;
}
.item::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 2px;
  background: #fff;
  left: -25px;
}

.itemNumber {
  font-family: serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.itemTitle {
  margin-top: 10px;
  margin-bottom: 0;
}

/* medium screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .container {
    max-width: 722px;
    margin: 0 24px;
    padding: 50px 34px 50px;
  }

  .item {
    min-width: 112px;
  }

  .item::before {
    height: 45px;
  }
}

/* mobile */
@media screen and (max-width: 414px) {
  .container {
    max-width: 370px;
    margin: 0 24px;
    padding: 42px 50px 54px;
  }

  .row:not(:last-child) {
    margin-bottom: 46px;
  }

  .item::before {
    height: 40px;
  }
}