.section {
  display: flex;
  flex-direction: column;
  padding: 2vw 60px 0 60px;
  max-width: 50%;
  margin: 2%;
}

.section .mainArticle {
  padding: 0;
}

.sectionPrimary {
  padding: 2vw 0;
}

.sectionSecondary {
  max-width: 55%;
  margin: 0 5% 5vh 0;
  padding: 0;
}

.articleContentLeftSpacing {
  margin-left: 5%;
}

.sectionBackground {
  background: #fff;
  margin-left: 0;
  flex-basis: 30%;
  padding: 2vw 60px 0 120px;
}

@media only screen and (max-width: 992px) {
  .sectionBackground {
    background: #fff;
    margin-left: 0;
    flex-basis: 100%;
    padding: 2vw 60px 0 120px;
  }
}

.content {
  padding: 1vw 0 1vw;
  font-size: 14px;
  line-height: 24px;
  max-width: 80%;
}

.titleContainer {
  max-width: 50%;
  margin: 2vw 0;
  margin-bottom: 0;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .section {
    max-width: 100%;
    padding: 5vw 0;
    margin: 2% auto;
    align-self: flex-start;
  }

  .titleContainer {
    max-width: 100%;
    align-self: flex-start;
    margin-top: 80px;
  }

  /* TODO separate margin and paddings from main component */
  .content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
